<!DOCTYPE html>
<html>
<head
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>rutu a bus ticketing platform</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
<!--
  <header class="header">
	<h1>My Website</h1>
  </header>	
-->	
<div class="topnav">
  <a class="home_link" href="index.html">	 
   <img src="images/home_icon.png">
  </a>	   
<!-- <a class="text_link" href="#" >BUS TICKETS</a> -->
<!--
  <a href="#" >Link</a>
  <a href="#">Link</a>
-->
  <a class="bus_ticket_link" href="help.html">   
    <img src="images/bus_tickets_icon.png">
  </a>
  

  <a class="login_link" href="signup.html">  
    <img src="images/login_icon.png">
  </a> 
  <a class="profile_link" href="profile.html">   
    <img src="images/profile_icon.png">
  </a>
  <a class="bookings_link" href="bookings.html">   
    <img src="images/bookings_icon.png">
  </a>
  <a class="location_link" href="location.html">   
    <img src="images/location_icon.png">
  </a>
  <a class="help_link" href="help.html">	 
    <img src="images/help_icon.png">
  </a>
  
  
  
  	
</div>

<div class="search">
  <img src="images/search_area.png">
  <input type="text" name="from_input" value="FROM">
  <input type="text" name="to_input" value="TO" style="left: 620px;">
  <input type="text" name="to_input" value="ONWARD DATE" style="left: 810px;">
  <input type="text" name="to_input" value="RETURN DATE" style="left: 1000px;">
  <img src="images/offer_0.png" id="offer_0">
</div>  
	
 <div class="offers">
   <img src="images/offer_1.png">
   <img src="images/offer_2.png">
   <img src="images/offer_3.png">
 </div>	
	
  <script src="main.js">
  </script>
  <script src="https://chancejs.com/chance.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- <img src="images/Top menu.png" class= "topMenu"></img>
  <img src="images/Offer 1.png" class= "offer1" alt="DARUTU"></img> -->
</body>
</html>