*{
    box-sizing: border-box;
}
body {
  margin: 0;
}
/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
	text-decoration: none;
	
}
.topnav {
    overflow-y: hidden;
    width: 1440px;
    background-color: #2062CE;
}
a{
	color: white;
	padding: 23px 5px;
	display:inline-block;
	text-decoration: none;
	font-family: Roboto;
	text-align: center;
  font-size: 15px;
	height:60px;
	width: 140px;
}
.topnav a.bus_ticket_link,a.home_link{
	float: left;
  padding: 0px;
}
.topnav a.help_link,a.location_link,a.bookings_link,a.profile_link,a.login_link{
  float: right;
  padding: 0px;
}

.topnav a:hover{
	background-color:red;
	color: white;
	text-decoration: none;
}
.topnav a:link {
  background-color:none;
	color: white;
	text-decoration: none;
}

.topnav a:visited {
  background-color:none;
  color: white;
  text-decoration: none;
}

.topnav a:active {
  background-white:red;
	color: white;
	text-decoration: none;
}

.search{
  background-color: white;
  position: relative;
  width: 100%;
  height: 458px;
  overflow: visible;
}

.search img{
 position: absolute;
 left: 0px;
 right: 0px; 
}

.search input{
  top: 135px;
  left: 410px;
  position: absolute;
  height: 30px;
  width: 110px;
  border-style: none;
}

.search img#offer_0{
  position: absolute;
  top: 320px;
  left: 362px;
}

.offers{
  position: absolute;
  margin-top: 10px;
  margin-left: 40px;
}

