*{
    box-sizing: border-box;
}
body {
    margin: 0;
}
/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}
.topnav {
    overflow-y: hidden;
    width: 1440px;
    background-color: #2062CE;
}
a{
    color: white;
    padding: 23px 5px;
    display:inline-block;
    text-decoration: none;
    font-family: Roboto;
    text-align: center;
    font-size: 15px;
    height:60px;
    width: 140px;
}
.topnav a.bus_ticket_link,a.home_link{
    float: left;
    padding: 0px;
}
.topnav  a.profile_link{
    width: 8%;
}
.topnav a.help_link,a.location_link,a.bookings_link,a.profile_link,a.login_link{
    float: right;
    padding: 0px;
}

.topnav a:hover{
    background-color:#2062CE;
    color: white;
    text-decoration: none;
}
.topnav a:link {
    color: white;
    text-decoration: none;
}

.topnav a:visited {
    color: white;
    text-decoration: none;
}

.topnav a:active {
    background-white:red;
    color: white;
    text-decoration: none;
}

.search{
    background-color: white;
    position: relative;
    width: 100%;
    height: 458px;
    overflow: visible;
}

.search img{
    position: absolute;
    left: 0px;
    right: 0px;
}

.search input{
    top: 135px;
    left: 410px;
    position: absolute;
    height: 30px;
    width: 110px;
    border-style: none;
}

.search img#offer_0{
    position: absolute;
    top: 320px;
    left: 362px;
}

.offers{
    position: absolute;
    margin-top: 10px;
    margin-left: 40px;
}

/*{margin:0px; padding:0px; font-family:Helvetica, Arial, sans-serif;}

/* Full-width input fields */
.container input {
    width: 40% ;
    padding: 15px 20px;
    margin: 8px 40px;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size:16px;
}

/* Set a style for all buttons */
.container button {
    background-color: #2468D6;
    color: white;
    padding: 15px 20px;
    margin: 8px 40px;
    border: none;
    cursor: pointer;
    width: 40%;
    font-size:20px;
}

.container button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.avatar {
    width: 200px;
    height:200px;
    border-radius: 50%;
}

/* The Modal (background) */
.modal {
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%;
    padding-bottom: 30px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}

.container a{
    text-align: left;
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

